

body {
	background-color: black;
	margin: 0px;
}

header {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-align: center;
	} 


#banner img {	
	width: 100%

}

.textos {
	text-align: center;
}

.textos p {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	padding: 25px;
}


#titulo-top10 {
	text-align: left;
	padding-left: 4%;
}

#top-10-jogos {
	color: #ffffff;
}

#top-10-jogos ul {
	display: inline-block;
	vertical-align:top;
	width: 20%;
	padding-right: 35%;
	padding-left: 5%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}

#site-name {
	display: inline-block;
	padding-left: 4%;
}

#menu {
	color: white;
	display: inline-block;
}

#menu ul li{
	display: inline;

}